// adding some style to webpage
body{
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
				linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            	linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.inp-class-form{
	background-color: white;
}
.enclosed {
	background-color: #dedad9;
	padding: 3vw;
	border: 3px solid black;
	margin: 18vw;
	}
#btn-1{
	background-color: red;
	margin-left: 25vh;
	margin-top: 3vh;
	color: white;
}
